<div id="<%= dom_id node %>">

      <tr>
      	<td>
          <%= node.title %>
          <p>(id: <%= node.id %>)</p>
      	</td>
      	<td>
          <%= node.description %>
      	</td>
        <%# For checking if it has parents %>
        <td>
          <% if node.has_parent? %>
              <%= node.parent_id %>
              <%# <%= node.parent_id.title % > %>
          <% else %>
            <p>this node doesnt have a parent, thus is a Root Node</p>
          <% end %>
        </td>

        <%# For checking if the node has children %>
        <td>        
          <% if node.children.present? %>
            <%= node.child_ids %>
            
            <%# <p>(<%= node.title % >)</p> %>
          <% else %>
            <p>This node doesnt have any children</p>
          <% end %>    
          <%= node.child_ids %>
          <%# <%= node.descendants % > %>
          <%# <%= node.child_ids % >     %>
        </td>


        <%# For checking if the node has a parent %>
        <td>
          
          <% if node.ancestors? %>
            <%= node.ancestor_ids %>            
            
          <% else %>
            <p>This node doesnt have ancestors (papa)</p>
          <% end %>
         
        </td>
        <td>
          
          <% if node.document.attached? %>
            <%# <%= node.document.blob.filename % > %>
            <a href="<%= url_for(node.document) %>" target="_blank">
              <%= node.document.blob.filename %>
            </a> 
          <% else %>
            <%= t(:docEmpty) %>  
          <% end %>
          

        </td>
        <td></td>   


        
     