<p style="color: green"><%= notice %></p>

<h1>Nodes</h1>


<div id="nodes">
  <table class="table table-striped table-hover">
      <%= render "thead" %>
      <tbody>  
        <% @nodes.each do |node| %>
          <%= render node %>
                <td>
                  <%= link_to "Show this node", node, class: "btn btn-warning" %>
                </td>
              </tr>
            </div>
          <% end %>
        <%# ENd of the render section and the yellow button %>
      </tbody>
  </table>
</div>

<div>
  <button class="btn btn-primary">
    <%= link_to "New Node", new_node_path, class: "btn btn-primary" %>
  </button>
</div>
